varibles.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
application_default_credentials.json
terraform.tfvars
*.retry
jdauphant.nginx
vault.key
# Vagrant & molecule
.vagrant/

*.pyc
.molecule
.cache
.pytest_cache

google-cloud-sdk/*

.env

docker-compose.yml
build_info.txt
prometheus/

## python specific
*.pyc
